# Configurações do MongoDB (Nuvem)
MONGO_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/atmos_database
MONGO_DATABASE=atmos_database
MONGO_COLLECTION=sensor_data

# Configurações do MQTT (Nuvem)
MQTT_HOST=broker.hivemq.com
MQTT_TOPIC=sensors/data
